<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        <div class="drawer-content">
            @if (actionItemDto is not null)
            {
                <EditForm Model="@actionItemDto" OnValidSubmit="@HandleValidSubmit" @ref="_editForm">
                    <DataAnnotationsValidator/>

                    <MudGrid>
                        <MudItem xs="12">
                            <MudSelect @bind-Value="actionItemDto.DataBaseName"
                                       Label="Название базы"
                                       For="@(() => actionItemDto.DataBaseName)"
                                       Variant="Variant.Outlined"
                                       Required="true"
                                       RequiredError="Выберите имя исполнителя"
                                       Immediate="true">
                                @foreach (var dataList in _databases)
                                {
                                    <MudSelectItem Value="dataList">@dataList</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="12">
                            <MudSelect @bind-Value="actionItemDto.WhoDid"
                                       Label="Имя исполнителя"
                                       For="@(() => actionItemDto.WhoDid)"
                                       Variant="Variant.Outlined"
                                       Required="true"
                                       RequiredError="Выберите имя исполнителя"
                                       Immediate="true">
                                @foreach (var dataList in _executors)
                                {
                                    <MudSelectItem Value="dataList">@dataList</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>


                        <MudItem xs="12">
                            <MudTextField @bind-Value="actionItemDto.WhatDid"
                                          Label="Описание"
                                          For="@(() => actionItemDto.WhatDid)"
                                          Variant="Variant.Outlined"
                                          Lines="5"
                                          Required="true"
                                          RequiredError="Введите описание" 
                                          Immediate ="true"/>
                        </MudItem>
                    </MudGrid>
                    

                    <div class="drawer-controls">
                        <MudPaper Class="d-flex justify-space-around flex-grow-1 gap-4" Elevation="0">

                            <MudButton Variant="Variant.Filled"
                                       DropShadow="false"
                                       EndIcon="@Icons.Material.Filled.Error"
                                       Color="Color.Default"
                                       @onclick="Close">
                                Отмена
                            </MudButton>

                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       DropShadow="false"
                                       EndIcon="@(_isUpdate ? Icons.Material.Filled.Create : Icons.Material.Filled.Send)"
                                       Color="@(_isUpdate ? Color.Warning : Color.Primary)"
                                       disabled="@_isSubmitting">
                                @if (_isSubmitting)
                                {
                                    <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="me-2" />
                                }
                                @(_isUpdate ? "Изменить" : "Сохранить")
                            </MudButton>
                        </MudPaper>
                    </div>

                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private IEnumerable<string>? _executors;
    private IEnumerable<string>? _databases;

    private bool _isOpen;
    private bool _isSubmitting;
    private bool _isUpdate;
    private EditForm? _editForm;

    [Parameter] public EventCallback<ActionItemDto> OnSave { get; set; }
    [Parameter] public EventCallback<ActionItemDto> OnUpdate { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    // Параметр для получения данных из родительского компонента
    private ActionItemDto _actionItemDto = new();

    [Parameter]
    public ActionItemDto? actionItemDto
    {
        get => _actionItemDto;
        set
        {
            if (value != null)
            {
                _actionItemDto = value;
                _isUpdate = value.Id != 0;
                _isOpen = true;
                StateHasChanged();

                Console.WriteLine($"Режим: {(_isUpdate ? "Редактирование" : "Добавление")}");
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        _executors = ExecutorsList.Executors;
        _databases = DatabaseNameList.databaseName;
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            _isSubmitting = true;

            Console.WriteLine($"{(_isUpdate ? "Обновление" : "Сохранение")} формы:");
            Console.WriteLine($"ID: {_actionItemDto.Id}");
            Console.WriteLine($"База данных: {_actionItemDto.DataBaseName}");
            Console.WriteLine($"Исполнитель: {_actionItemDto.WhoDid}");
            Console.WriteLine($"Описание: {_actionItemDto.WhatDid}");

            if (_isUpdate)
            {
                await OnUpdate.InvokeAsync(_actionItemDto);
            }
            else
            {
                _actionItemDto.WhenDid = DateTime.Now;
                await OnSave.InvokeAsync(_actionItemDto);
            }

            await Close();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при сохранении: {ex.Message}");
        }
        finally
        {
            Console.WriteLine("finally");
            _isSubmitting = false;
        }
    }

    private async Task Close()
    {
        _isOpen = false;
        _isUpdate = false;
        _isSubmitting = false;
        _actionItemDto = new ActionItemDto();
        Console.WriteLine("Закрываем форму");
        await OnClose.InvokeAsync();
        StateHasChanged();
    }
}
