<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
    <div class="drawer-mask"></div>
    <div class="drawer">
        <div class="drawer-content">
            @if (actionItemDto is not null)
            {
                <EditForm Model="@actionItemDto" OnValidSubmit="@HandleValidSubmit" @ref="_editForm">
                    <DataAnnotationsValidator/>

                    <MudGrid>
                        <MudItem xs="12">
                            <MudSelect @bind-Value="actionItemDto.DataBaseName"
                                       Label="Название базы"
                                       For="@(() => actionItemDto.DataBaseName)"
                                       Variant="Variant.Outlined"
                                       Required="true"
                                       RequiredError="Выберите имя исполнителя"
                                       Immediate="true">
                                @foreach (var state in _databaseNameStates)
                                {
                                    <MudSelectItem Value="state">@state</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="12">
                            <MudSelect @bind-Value="actionItemDto.WhoDid"
                                       Label="Имя исполнителя"
                                       For="@(() => actionItemDto.WhoDid)"
                                       Variant="Variant.Outlined"
                                       Required="true"
                                       RequiredError="Выберите имя исполнителя"
                                       Immediate="true">
                                @foreach (var state in _states)
                                {
                                    <MudSelectItem Value="state">@state</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>


                        <MudItem xs="12">
                            <MudTextField @bind-Value="actionItemDto.WhatDid"
                                          Label="Описание"
                                          For="@(() => actionItemDto.WhatDid)"
                                          Variant="Variant.Outlined"
                                          Lines="5"
                                          Required="true"
                                          RequiredError="Введите описание" 
                                          Immediate ="true"/>
                        </MudItem>
                    </MudGrid>
                    



                    <div class="drawer-controls">
                        <MudPaper Class="d-flex justify-space-around flex-grow-1 gap-4" Elevation="0">

                            <MudButton Variant="Variant.Filled"
                                       DropShadow="false"
                                       EndIcon="@Icons.Material.Filled.Error"
                                       Color="Color.Error"
                                       @onclick="Close">
                                Отмена
                            </MudButton>

                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       DropShadow="false"
                                       EndIcon="@Icons.Material.Filled.Send"
                                       Color="Color.Primary"
                                       @onclick="Comment"
                                       disabled="@_isSubmitting">
                                @if (_isSubmitting)
                                {
                                    <span class="spinner-border spinner-border-sm me-2"></span>
                                }
                                Сохранить
                            </MudButton>
                        </MudPaper>
                    </div>

                </EditForm>
            }
        </div>
    </div>
</div>

@code {
    private readonly string[] _states =
    {
        "Коржов", "Водолагина", "Фокина", "Муравьев", "Харламов", "Столбин", "Коваленко", "Николаев", "Усков", "Благовидов"
    };

    private readonly string[] _databaseNameStates =
{
        "Sheigerevich", "1112", "SchoolCafe", "Pspion", "IT", "EcoBiz", "Kredo"
    };

    private bool _isOpen;
    private bool _isSubmitting;
    private EditForm? _editForm;

    [Parameter] public EventCallback<ActionItemDto> OnSave { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    // Параметр для получения данных из родительского компонента
    private ActionItemDto _actionItemDto = new();

    [Parameter]
    public ActionItemDto? actionItemDto
    {
        get => _actionItemDto;
        set
        {
            if (value != null)
            {
                _actionItemDto = value;
                _isOpen = true;
                StateHasChanged();
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            _isSubmitting = true;
            _actionItemDto.WhenDid = DateTime.Now;

            Console.WriteLine("Сохраняем форму");
            Console.WriteLine($"Название базы данных: {_actionItemDto.DataBaseName}");
            Console.WriteLine($"Имя: {_actionItemDto.WhoDid}");
            Console.WriteLine($"Описание: {_actionItemDto.WhatDid}");

            await OnSave.InvokeAsync(_actionItemDto);
            await Close();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при сохранении: {ex.Message}");
        }
        finally
        {
            Console.WriteLine("finally");
            _isSubmitting = false;
        }
    }

    private async Task Close()
    {
        _isOpen = false;
        _actionItemDto = new ActionItemDto();
        Console.WriteLine("Закрываем форму");
        await OnClose.InvokeAsync();
        StateHasChanged();
    }

    private async Task Comment()
    {
        Console.WriteLine("Нажимаем на кнопку сохранить");
    }
}
