@page "/"

@using System.Net.Http.Json
@using ActionHistoryApp.Shared
@using ActionHistoryApp.Client.Services
@inject ActionApiService ActionApiService
@inject HttpClient httpClient

@if (_actionItemDtos == null)
{
    <p>Загрузка...</p>
}
else
{
    <AddAction ActionItemDto="@_newActionItem" OnSave="@HandleActionSaved" OnClose="@HandleDrawerClose" />

    <MudButton Variant="Variant.Filled" @onclick="OpenAddDrawer"
               title="View" class="btn btn-primary">
        Добавить действие
    </MudButton>

    <MudTable Items="@_actionItemDtos" Hover="true">
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<ActionItemDto, object>(x => x.Id)">№</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.DataBaseName)">Название базы</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x=>x.WhoDid)">Имя</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.WhatDid)">Описание изменений</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.WhenDid)">Дата изменений</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Название базы">@context.DataBaseName</MudTd>
            <MudTd DataLabel="Имя">@context.WhoDid</MudTd>
            <MudTd DataLabel="Описание изменения">@context.WhatDid</MudTd>
            <MudTd DataLabel="Дата изменений">@context.WhenDid</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
        </PagerContent>
    </MudTable>
}

@code {
    private bool loading = false;
    private IEnumerable<ActionItemDto>? _actionItemDtos;
    private ActionItemDto? _newActionItem;

    protected override async Task OnInitializedAsync()
    {
        await LoadActionsAsync();
    }

    private async Task LoadActionsAsync()
    {
        try
        {
            loading = true;
            _actionItemDtos = await ActionApiService.GetAllActionsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка загрузки истории действий: {ex.Message}");
            //Сделать ошибку
        }
        finally
        {
            loading = false;
        }
    }

    private async Task HandleActionSaved(ActionItemDto actionItemDto)
    {
        try
        {
            loading = true;
            Console.WriteLine($"Полученые данные:");
            Console.WriteLine($"Название базы данных: {actionItemDto.DataBaseName}");
            Console.WriteLine($"Имя: {actionItemDto.WhoDid}");
            Console.WriteLine($"Описание: {actionItemDto.WhatDid}");
            await ActionApiService.AddActionAsync(actionItemDto); //Сохроняем
            await LoadActionsAsync(); // Перезагружаем список
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при сохронении: {ex.Message}");
            //Сделать ошибку
        }
        finally
        {
            loading = false;
        }
    }

    private void OpenAddDrawer() //HandleActionSelected
    {
        _newActionItem = new ActionItemDto();
        Console.WriteLine($"Открываем OpenAddDrawer");
        Console.WriteLine($"Название базы данных: {_newActionItem.DataBaseName}");
        Console.WriteLine($"Имя: {_newActionItem.WhoDid}");
        Console.WriteLine($"Описание: {_newActionItem.WhatDid}");
        StateHasChanged();
    }

    private void HandleDrawerClose() //HandleActionSelected
    {
        _newActionItem = null;
        Console.WriteLine($"Сработал HandleDrawerClose");
        StateHasChanged();
    }
}