@page "/"

@using System.Net.Http.Json
@using ActionHistoryApp.Shared
@using ActionHistoryApp.Client.Services
@inject ActionApiService ActionApiService
@inject HttpClient httpClient
@inject ISnackbar SnackbarService
@inject IDialogService DialogService

@if (_actionItemDtos == null)
{
    <p>Загрузка...</p>
}
else
{
    <DrawerAction ActionItemDto="@_newActionItem" OnSave="@HandleActionSaved" OnClose="@HandleDrawerClose" OnUpdate="@HandleUpdateAction"/>

    <MudTable Items="@FilteredItems"
              @ref="_table"
              Hover="true" 
              SortLabel="Сортировка" 
              Loading="@_loading" 
              LoadingProgressColor="Color.Primary" 
              Striped="true" 
              Bordered=" true">

        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       @onclick="OpenAddDrawer"
                       Title="Добавить действие"
                       Class="btn btn-primary">
                Добавить действие
            </MudButton>

            <MudSpacer />

            <MudTextField Immediate="true"
                          @bind-Value="searchString" 
                          Placeholder="Поиск" 
                          Adornment="Adornment.Start" 
                          AdornmentIcon="@Icons.Material.Filled.Search" 
                          IconSize="Size.Medium" 
                          Class="mt-0" 
                          Clearable="true" 
                          For="@(() => searchString)"/>
        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<ActionItemDto, object>(x => x.Id)">№</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.DataBaseName)">Название базы</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x=>x.WhoDid)">Имя</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.WhatDid)">Описание изменений</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<ActionItemDto, object>(x => x.WhenDid)">Дата изменений</MudTableSortLabel></MudTh>
            <MudTh>Действия</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Название базы">@context.DataBaseName</MudTd>
            <MudTd DataLabel="Имя">@context.WhoDid</MudTd>
            <MudTd DataLabel="Описание изменения">@context.WhatDid</MudTd>
            <MudTd DataLabel="Дата изменений">@context.WhenDid.ToString("dd.MM.yyyy HH.mm")</MudTd>
            <MudTd DataLabel="Действия">
                <MudStack Spacing="4" Row="true" Justify="Justify.SpaceEvenly">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Size="Size.Small"
                                   Color="Color.Error"
                                   @onclick="() => DeleteAction(context)"
                                   Title="Удалить запись" />

                    <MudIconButton Icon="@Icons.Material.Filled.Create"
                                   Size="Size.Small"
                                   Color="Color.Warning"
                                   @onclick="() => UpdateAction(context)"
                                   Title="Изменить запись" />
                </MudStack>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Совпадающих записей не найдено</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Загрузка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
        </PagerContent>
    </MudTable>
}

@code {
    private bool _loading = false;
    private string? searchString;
    private IEnumerable<ActionItemDto>? _actionItemDtos;
    private ActionItemDto? _newActionItem;
    private MudTable<ActionItemDto>? _table;

    private IEnumerable<ActionItemDto> FilteredItems =>
    string.IsNullOrWhiteSpace(searchString)
        ? _actionItemDtos ?? Enumerable.Empty<ActionItemDto>()
        : (_actionItemDtos ?? Enumerable.Empty<ActionItemDto>())
            .Where(x =>
                (x.DataBaseName?.Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (x.WhoDid?.Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (x.WhatDid?.Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                x.Id.ToString().Contains(searchString) ||
                x.WhenDid.ToString("dd.MM.yyyy HH:mm").Contains(searchString)
            );

    protected override async Task OnInitializedAsync()
    {
        await LoadActionsAsync();
    }

    private async Task LoadActionsAsync()
    {
        try
        {
            _loading = true;
            _actionItemDtos = await ActionApiService.GetAllActionsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка загрузки истории действий: {ex.Message}");
            SnackbarService.Add($"Ошибка загрузки истории действий: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task HandleActionSaved(ActionItemDto actionItemDto)
    {
        try
        {
            _loading = true;
            Console.WriteLine($"Полученые данные:");
            Console.WriteLine($"Название базы данных: {actionItemDto.DataBaseName}");
            Console.WriteLine($"Имя: {actionItemDto.WhoDid}");
            Console.WriteLine($"Описание: {actionItemDto.WhatDid}");
            await ActionApiService.AddActionAsync(actionItemDto); //Сохроняем
            await LoadActionsAsync(); // Перезагружаем список
            SnackbarService.Add($"Успешно сохранено", Severity.Success);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Ошибка при сохронении: {ex.Message}");
            SnackbarService.Add($"Ошибка при сохронении: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task HandleUpdateAction(ActionItemDto actionItemDto)
    {
        try
        {
            _loading = true;
            Console.WriteLine("Измененые данные:");
            Console.WriteLine($"Номер действия: {actionItemDto.Id}");
            Console.WriteLine($"Название базы данных: {actionItemDto.DataBaseName}");
            Console.WriteLine($"Имя: {actionItemDto.WhoDid}");
            Console.WriteLine($"Описание: {actionItemDto.WhatDid}");
            await ActionApiService.UpdateActionAsync(actionItemDto.Id, actionItemDto); //Сохроняем
            await LoadActionsAsync(); // Перезагружаем список
            SnackbarService.Add($"Успешно изменено", Severity.Info);
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Ошибка при сохронении: {ex.Message}");
            SnackbarService.Add($"Ошибка при сохронении: {ex.Message}", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }

    private void OpenAddDrawer() //Открываем доп компонент
    {
        _newActionItem = new ActionItemDto();
        Console.WriteLine($"Открываем OpenAddDrawer");
        Console.WriteLine($"Название базы данных: {_newActionItem.DataBaseName}");
        Console.WriteLine($"Имя: {_newActionItem.WhoDid}");
        Console.WriteLine($"Описание: {_newActionItem.WhatDid}");
        StateHasChanged();
    }

    private async Task UpdateAction(ActionItemDto updateAction) // Логика редактирования
    {
        _newActionItem = updateAction;
        Console.WriteLine($"Открываем OpenAddDrawer");
        Console.WriteLine($"Название базы данных: {_newActionItem.DataBaseName}");
        Console.WriteLine($"Имя: {_newActionItem.WhoDid}");
        Console.WriteLine($"Описание: {_newActionItem.WhatDid}");
        StateHasChanged();
    }

    private void HandleDrawerClose() //Закрываем доп компонент
    {
        _newActionItem = null;
        Console.WriteLine("Сработал HandleDrawerClose");
        StateHasChanged();
    }

    private async Task DeleteAction(ActionItemDto action) //Логика удаления и диалогового окна 
    {
        var parameters = new DialogParameters //Создаем параметры
        {
            {"Title", "Подтверждение удаления"},
            {"ContentText", $"Вы действительно хотите удалить запись №{action.Id}?"},
            {"ButtonText", "Удалить"},
            {"Color", Color.Error}
        };

        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall }; //Настройки для диалогового окна

        var dialog = await DialogService.ShowAsync<DeleteConfirmationDialog>("Подтверждение удаления", parameters, options); //Передаем параметры и настройки
        var result = await dialog.Result;

        if(!result.Canceled) //Если нажата кнопка удаления
        {
            try //Логика удаления
            {
                _loading = true;
                await ActionApiService.DeleteActionAsync(action.Id);
                await LoadActionsAsync();
                SnackbarService.Add("Запись успешно удалена", Severity.Success);
            }
            catch (Exception ex) //Ошибки при удалении 
            {
                SnackbarService.Add($"Ошибка удаления: {ex.Message}", Severity.Error);
                Console.WriteLine($"Ошибка удаления: {ex.Message}");
            }
            finally
            {
                _loading = false;
            }
        }
    }
}